*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font: 0.8125rem "Manrope", sans-serif;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.7rem;
  padding-inline: 0.8rem;
  padding-inline: clamp(0.8rem, -4.4363636364rem + 26.1818181818vw, 1.7rem);
  line-height: 1.5;
}

main {
  max-width: 30rem;
}
@media only screen and (min-width: 46.875em) {
  main {
    max-width: 55em;
  }
}

.card {
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
@media only screen and (min-width: 46.875em) {
  .card {
    display: grid;
    grid-template-areas: "img text" "img user";
    grid-template-columns: 1fr 1.55fr;
  }
}
.card__aside {
  max-height: min(57vw, 22em);
  overflow: hidden;
}
@media only screen and (min-width: 46.875em) {
  .card__aside {
    grid-area: img;
    max-height: unset;
  }
  .card__aside img {
    height: 100%;
    -o-object-position: 0;
       object-position: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__text {
  padding: 1.5rem clamp(1rem, -4.8181rem + 29.0909vw, 2rem);
}
@media only screen and (min-width: 46.875em) {
  .card__text {
    grid-area: text;
  }
}
.card__text__heading {
  margin-top: 0.75rem;
  color: #48556a;
  font-size: 1rem;
  font-weight: 700;
}
@media only screen and (min-width: 46.875em) {
  .card__text__heading {
    font-size: 1.25rem;
  }
}
.card__text__description {
  margin-top: 1rem;
  color: #6d7f97;
}
.card__user {
  display: flex;
  align-items: center;
  padding: 0.8rem clamp(1rem, -4.8181rem + 29.0909vw, 2rem);
  position: relative;
}
@media only screen and (min-width: 46.875em) {
  .card__user {
    grid-area: user;
  }
}
.card__user__img {
  border-radius: 50%;
  height: 3.25em;
  margin-right: 1rem;
}
.card__user__name {
  color: #48556a;
  font-weight: 700;
}
.card__user__date {
  color: #9eafc2;
}
.card__user__share-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #ecf2f8;
  border-radius: 50%;
  height: 2.5em;
  aspect-ratio: 1/1;
  z-index: 2;
}
.socials-active .card__user__share-button {
  background-color: #6d7f97;
}
.socials-active .card__user__share-button path {
  fill: white;
}
.card__socials {
  position: absolute;
  background-color: #48556a;
  padding: 1.6rem clamp(1rem, -4.8181rem + 29.0909vw, 2rem);
  display: flex;
  align-items: center;
  gap: 1.2em;
}
@media only screen and (min-width: 33em) {
  .card__socials {
    justify-content: center;
  }
}
.card__socials__text {
  color: #9eafc2;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.card__socials__link:hover {
  scale: 1.15;
}
.socials-active .card__socials {
  inset: 0;
}
@media only screen and (min-width: 46.875em) {
  .socials-active .card__socials {
    inset: unset;
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */