@use "resets";
@use "colors";

body {
  font: 0.8125rem "Manrope", sans-serif;
  background-color: colors.$light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.7rem;
  line-height: 1.5;
}

.card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;

  &__info {
    display: grid;
    gap: 1rem;
    grid-template-columns: 4em 1fr 4em;
    grid-template-areas:
      "heading heading heading"
      "desc desc desc"
      "img name btn"
      "img date btn";
    padding: 2rem;

    &__heading {
      grid-area: heading;
      margin-top: 0.25rem;
      color: colors.$dark-blue;
      font-size: 1rem;
      font-weight: 700;
    }

    &__description {
      grid-area: desc;
      margin-bottom: 1rem;
      color: colors.$not-so-dark-blue;
    }

    &__user-img {
      grid-area: img;
      border-radius: 50%;
    }

    &__user-name {
      grid-area: name;
      color: colors.$dark-blue;
      font-weight: 700;
    }
    &__user-date {
      grid-area: date;
      color: colors.$rather-light-blue;
    }
    &__share-button {
      grid-area: btn;
    }
    &__socials {
      display: none;
      grid-area: socials;
    }
  }
}
