@use "resets";
@use "colors";
@use "mixins" as *;

body {
  font: 0.8125rem "Manrope", sans-serif;
  background-color: colors.$light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.7rem;
  padding-inline: 0.8rem;
  padding-inline: clamp(
    0.8rem,
    -4.436363636363636rem + 26.18181818181818vw,
    1.7rem
  );
  line-height: 1.5;
}

main {
  max-width: 30rem;

  @include mq(52.5em) {
    max-width: 55em;
    margin: 4.5rem;
  }
}

.card {
  $card-side-padding: 2rem;
  $card-side-padding: clamp(1rem, -4.8181rem + 29.0909vw, 2rem);

  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 2em 2.5em -2em rgba(black, 0.2);

  @include mq(52.5em) {
    display: grid;
    grid-template-areas:
      "img text"
      "img user";
    grid-template-columns: 1fr 1.55fr;
  }

  &__aside {
    max-height: min(57vw, 22em);
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    overflow: hidden;

    @include mq(52.5em) {
      grid-area: img;
      max-height: unset;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.8rem;

      & img {
        height: 100%;
        object-position: 0;
        object-fit: cover;
      }
    }
  }

  &__text {
    padding: 1.5rem $card-side-padding;

    @include mq(52.5em) {
      grid-area: text;
    }

    &__heading {
      margin-top: 0.75rem;
      color: colors.$dark-blue;
      font-size: 1rem;
      font-weight: 700;

      @include mq(52.5em) {
        font-size: 1.25rem;
      }
    }

    &__description {
      margin-top: 1rem;
      color: colors.$not-so-dark-blue;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0.8rem $card-side-padding;
    position: relative;

    @include mq(52.5em) {
      grid-area: user;
      padding: 0 $card-side-padding 2rem;
    }

    &__img {
      border-radius: 50%;
      height: 3.25em;
      margin-right: 1rem;
    }

    &__name {
      color: colors.$dark-blue;
      font-weight: 700;
    }

    &__date {
      color: colors.$rather-light-blue;
    }

    &__share-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      background-color: colors.$light-blue;
      border-radius: 50%;
      height: 2.5rem;
      aspect-ratio: 1 / 1;
      z-index: 2;

      .socials-active & {
        background-color: colors.$not-so-dark-blue;
      }

      .socials-active & path {
        fill: white;
      }
    }
  }

  &__socials {
    position: absolute;
    background-color: colors.$dark-blue;
    padding: 1rem $card-side-padding;
    display: flex;
    align-items: center;
    gap: 1.2em;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

    @include mq(33em) {
      justify-content: center;
    }

    &__text {
      color: colors.$rather-light-blue;
      letter-spacing: 0.4em;
      text-transform: uppercase;
    }

    &__link:hover {
      scale: 1.15;
    }

    .socials-active & {
      inset: 0;

      @include mq(52.5em) {
        inset: unset;
        border-radius: 0.5rem;
        right: calc($card-side-padding + 1.25rem);
        top: -108%;
        transform: translateX(50%);
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 98%; //fix weird 1px gap :(
          left: 50%;
          transform: translateX(-50%);
          border-left: 0.85rem solid transparent;
          border-right: 0.85rem solid transparent;
          border-top: 0.85rem solid colors.$dark-blue;
        }
      }
    }
  }
}
